.App-logo {
  height: 10vmin;
  pointer-events: none;
  align-self: flex-start;
}

.App-menu {
  align-self: flex-end;
}

.searchBar {
  width: 50%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-content {
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
