.App-header {
  flex-direction: row;
  display: flex;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  align-items: center;
}

.App-menu {
  flex-direction: column;
  display: block;
}

.App-content {
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-cards{
  display: flex;
  flex-direction: row;
}

.App-card{
  max-width: 30%;
  margin: auto;
  border-radius: 10;
  padding: 2;

}

.App-media{
  border-radius: 10;
}

.App-link {
  color: #61dafb;
}
